<article class="card my-4 shadow-sm">
    <header class="card-header bg-white d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img class="rounded-circle me-2" src="{{ post.user.profile.profile_picture.url }}" width="45" height="45" alt="avatar">
            <div>
                <strong>{{ post.user.username }}</strong><br>
                <small class="text-muted">{{ post.created_at }}</small>
            </div>
        </div>
        <div>
            <i class="fa fa-ellipsis-v text-muted"></i>
        </div>
    </header>

    <div class="card-body p-0">
        <img src="{{ post.image.url }}" alt="Post image" class="img-fluid w-100">
    </div>

    <footer class="card-footer bg-white">
        {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-between align-items-center mb-2">
                <a href="{% url "post_like_ajax" post.pk %}" class="btn btn-outline-danger btn-sm likeButton">
                    <span>{{ post.likes.all.count }}</span>
                    {% if request.user in post.likes.all %}
                        <i class="bi bi-heart-fill"></i>
                    {% else %}
                        <i class="bi bi-heart"></i>
                    {% endif %}
                </a>
                <span class="text-muted small">{{ post.comments.all.count }} <i class="bi bi-chat-dots"></i></span>
            </div>
        {% endif %}
        <div class="text-center">
            <a class="btn btn-primary btn-sm" href="{% url 'post_detail' post.pk %}">Ver post</a>
        </div>
    </footer>
</article>
